@use "sass:map";

html {
    margin: 0;
    padding: 0;
}

body {
  background-color: whitesmoke;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: lighter;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 420px) {
  #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100% vp;
    padding-bottom: 50px;
  }
  #container h1 {
    padding: 75px 45px;
    font-size: 3rem;
  }
}

@mixin flex-r {
    display: flex;
    flex-direction: row;
}

@mixin flex-c {
    display: flex;
    flex-direction: column;
}
